@import '../../assets/styles/variables.scss';

@keyframes arrow {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(15px);
	}
	100% {
		transform: translateY(0);
	}
}

#home {
	.arrowBox {
		z-index: 1;
		.arrow {
			opacity: 35%;
			color:  $light-color;
			font-size: 36px;
			transition: visibility 0.5s, opacity 0.5s linear;
			animation: arrow 1.5s infinite;
		}
	}
}
