@import "../../assets/styles/variables.scss";
.card-project{
	$height: 450px;
	$heightImg: $height / 2;
	$heightContent: ($height - $heightImg) / 1.6;
	
	height: $height;
	background-color: $light-color;
	
	.card-img{
		height: $height / 2;
		width: 100%;
		object-fit: cover;
		object-position: top;
	}
	.card-content{
		height: $heightContent;
	}
}
