@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'variables.scss';

* {
	font-family: $font-text;
	font-size: $text-size;
	color: $dark-color;
}

body {
	background-color: $dark-color;
}

h1 {
	font-family: $font-title;
	font-size: $title-size;
	color: $primary-color;
}


h2,
h3,
h4,
h5,
h6 {
	font-family: $font-subtitle;
	font-size: $subtitle-size;
	color: $light-color;
}

p {
	font-family: $font-text;
	color: $light-color;
}

.background-filter::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100vh;
	backdrop-filter: blur(5px);
}

body::-webkit-scrollbar {
	width: 10px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
	background: $light-color; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
	background-color: $dark-color; /* color of the scroll thumb */
	border-radius: 3px; /* roundness of the scroll thumb */
	border: $primary-color solid 1px; /* border of the scroll thumb */
}

