@import "variables.scss";

.homepage {
	.firstview {
		
		height: 100vh;
		
		h1 {
			text-shadow: $dark-color 0.1em 0.1em 0.2em;
		}
		
		.button {
			box-shadow: $dark-color 0.1em 0.1em 0.2em;
		}
	}
	
	.secondView {
		min-height: 100vh;
		
		.card-description {
			background-color: $primary-color;
			min-height: 48vh;
			
		}
		
	}
}
