@import "variables.scss";

.homepage {
	.firstview {
		background-color: $primary-color;
		
		height: 100vh;
		
		h1 {
			text-shadow: $dark-color 0.1em 0.1em 0.2em;
		}
		
		.button {
			box-shadow: $dark-color 0.1em 0.1em 0.2em;
		}
	}
	
	.rotating {
		animation-name: spin;
		animation-duration: 30s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	}
	
	@keyframes spin {
		from {
			transform:rotate(0deg);
		}
		to {
			transform:rotate(360deg);
		}
	}
}
