@font-face {
	font-family: Noto;
	src: url("../fonts/NotoSerif-Regular.ttf");
}

@font-face {
	font-family: Fira;
	src: url("../fonts/FiraSans-Regular.ttf");
}

@font-face {
	font-family: Nobile;
	src: url("../fonts/Nobile-Regular.ttf");
}

$font-title: Noto, serif;
$font-subtitle: Fira;
$font-text: Nobile;

$primary-color: #1b1b1b;
$secondary-color: #081c33;
$light-color: #dde1ff;
$white-color: #efeff8;
$dark-color: #101010;

$title-size: 2.8rem;
$subtitle-size: $title-size - 1rem;
$text-size: $subtitle-size - .8rem;

